<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1><%= uid %>번째 회원<%= name %> 님 안녕하세요</h1>
        
            <input type="hidden" name="uid" value=<%= uid %> /> <br/>
        name : <input type="text" name="name" value=<%= name %> /> <br/>
        email : <input type="text" name="email" value=<%= email %> /> <br/>
        <input type="button" id="btn" value="수정하기">
   
    <!-- <form action="/userInfo" method="delete">
        <input type="hidden" name="name" value=<%= name %> /> <br/>
        <input type="hidden" name="email" value=<%= email %> /> <br/>
        <input type="submit" value="제거하러가기">
    </form> -->

    <script>
        document.getElementById("btn").onclick=function(e){
            e.preventDefault();
            var uid =document.getElementsByTagName("input")[0];
            var name =document.getElementsByTagName("input")[1];
            var email =document.getElementsByTagName("input")[2];
           
            var data = {
                uid:uid.value,
                name:name.value,
                email:email.value,
            }
          
            ajaxSend("put","/userInfo",JSON.stringify(data),function(xhr){
                window.location.reload()
            })
        }   

        function ajaxSend(restMethod,url,data,callback){
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange=function(){

                
                    callback(this)
 
            }
            // xhr.addEventListener("load",function(){
            //     callback(this)
            // })
            xhr.open(restMethod,url,true)
            xhr.setRequestHeader("Content-type","application/json")
            xhr.send(data)
        }
    </script>
</body>
</html>